# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Results
results/figures/*
results/tables/*
!results/figures/.gitkeep
!results/tables/.gitkeep

# IDE
.vscode/
.idea/

# ENV
.env
*.token
